.display-infor-container {
    .red {
        color: rgb(255, 0, 0);
    }

    .green {
        color: green;
    }

    img {
        width: 400px;
        height: 400px;
        background-color: black;
    }
}